@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #115F49; /* Your desired color */
  }

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    align-items: center;
}

/* start of view table guest */
.container{
 align-items: center;
}

.tbl-border{
    border: 1px solid #636363;
}
.guest-table{
    align-items: center;
    text-align: center;
}
.column-info{
    align-items: end;
}
.end-align {
    display: flex;
    justify-content: flex-end;
}
.start-align{
    justify-content: flex-start;
}
.search-info{
    display: flex;
}

.search-icon {
    border: none;
    box-shadow: none; 
}

.search .form-control {
    padding-left: 2.375rem;
}

.search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* start of fo first page */

.container-pageone{
    align-items: center;
    text-align: center;
    margin-top: 150px;
    background-color: var(--primary-color);
    height: 365px;
    width: 629px;
    border-radius: 5px;
}
/* .btn-guest-info {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
} */
.btn-button{
    height: 65px;
    width: 533px;
    background-color: #AB8233 ;
    font-size: medium;
    color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    font-family: 'Poppins';
}

.logoobcc{
text-align: center;
margin-top: 15px;

}


/* start page1 bpts */
.row{
    text-align: center;
    align-items: center;
}
.first-page{
    margin-top: 150px;
    background-color: #115F49;
    height: 365px;
    width: 629px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}

@media screen and(max-width:1200px) {
    .first-page{
        width: 768px;
    }
    
}

/* start scan card */
.scan-card{
    align-items: center;
    border-color: #115F49;
    border-radius: 4px;
    background-color: #115F49;
    width: 400px;
    height: 500px;
    justify-content: center;
    margin-top: 35px;
}

.countryclublogo{
    text-align: center;
    margin-top: 15px;
    
    }



    /* .scan-card-data .form-control{
        height: 38px;
        width: 400px;

    }
    .scan-card-data{
        align-items: center;
    } */

    .card-info{
        align-items: center;
        justify-content: center;
        text-align: start;
        font-size: medium;
        font-family: 'Poppins';
        color: #fff;
        margin-top: 15px;
    
    }
    
    .text{
        text-align: center;
        align-items: center;
        font-size: medium;
        color: #fff;
    }

    /* card sample start */

    .card-sample{
        height: 500px;
        width: 400px;
        background-color: #115F49;
        align-items: center;
        margin-top: 50px;
        border-radius: 4px;
    }

    .title-text{
        text-align: center;
        font-size: medium;
        font-family: 'Poppins';
        color: #fff;
    }

    .card-data{
        text-align: start;
        font-size: 13px;
        font-family: 'Poppins';
        color: #fff;
        margin: 5px;
        margin-left: 3px;
        margin-right: 3px;
        align-items: center;

    }

